 

/* Custom Properties */
:root {

--ff-primary: 'Lato', serif;
--ff-secondary: 'Montserrat', serif;

--fw-reg: 300;
--fw-bold: 900;
   
--clr-light: #fff;
--clr-light-2: #F8F8F8;

--clr-dark: #777777;
--clr-accent: #D0C3AE;
--clr-accent-2:#ADADAA;
   
--fs-h1: 3rem;
--fs-h2: 2.25rem;
--fs-h3: 1.1rem;
--fs-body: 1rem;
--fs-sub: 1.5rem;

   
--bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
         0.125em 0.125em 0.25em rgba(0,0,0,.15);
}
/* General styles */

html {
 scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  font-weight: var(--fw-reg);
  margin: 0; 
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

section {
    padding: 5em 2em;
}

strong {
    font-weight: var(--fw-bold);
    display: block;
}
@media (min-width: 850px) {
    strong {
    display: inline;
    }
}


h1 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h1);
  font-weight: var(--fw-reg);
  margin-bottom: 0;
  text-align: center;

}
h2 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);

}

h3 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);

}
.section-subtitle-intro,
.section-subtitle-about {
    background: var(--clr-accent-2);
    font-family: var(--ff-primary);
    padding: 0.25em 1em;
    margin: 0 0 1em 0;
    color: var(--clr-light);
    font-size: var(--fs-sub);
    font-weight: var(--fw-reg);
}

.section-subtitle-work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border-radius: 2em;
}

.btn:hover {
    transform: scale(1.1);
}

.carousel-button {
    height: 200px;
    background: transparent; 
    border: 0;
    cursor: pointer;
    margin: 0; 
    z-index: 100;

  }
  
 
  
  .carousel-button img {
    width: 12px;
  }
  
  .carousel-nav {
    display: flex; 
    justify-content: center; 
    padding: 30px 0; 
  }
  
  .carousel-indicator {
    border: 0; 
    border-radius: 50%; 
    width: 15px;
    height: 15px; 
    background: rgba(0,0,0,.3); 
    margin: 0 12px;
    cursor: pointer;

  }
  
  .carousel-indicator.current-slide {
    background: rgba(0,0,0,.75); 
  }

  @media (min-width: 600px) {
    .carousel-button {
        margin: 2em;
    }
  }

/* header */

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    z-index: 1000;
    align-self:center;
    background: #ffffffdd;
    top: 0;
    right: 0;
    top: 0;
    left: 0;

}

.nav {

     align-self:center;
}

.nav-list {
    list-style:none;
    display: flex;
    justify-content: flex-end;
      margin: 0;
      padding: 0;
}

.nav-list > li{
    margin-left: 1em;
}

.nav-link {
    font-size: var(--fs-h3);
    color: inherit;
    text-decoration: none;

}

.nav-link:hover {
    color: var(--clr-accent);
}

@media (min-width: 650px) {
    header {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

/*  Intro section  */


.intro {
   
text-align: center;
display:flex; 
flex-direction: column;
max-width: 90%;
}

.main-image {
    box-shadow:var(--bs);
    margin: 0 0 1em 0;
    opacity: 0.9;
}

.section-subtitle-intro {
    display: inline-block;

}

@media (min-width: 750px) {
.intro {
 flex-direction: row-reverse;
 justify-content: center;
 align-items: center;
}
h1 {
    text-align: left;
}
.main-image {
    max-width: 300px;
    margin: 0 2em;
}
.section-subtitle-intro {
    text-align: left;
}
.intro-text {
    max-width: 600px;
    text-align: left;
}

}
@media (min-width: 1000px) {
    .main-image {
        max-width: 400px;
}
}
/*  My prerequisites  */

.my-prerequisites {
    background-color: var(--clr-light-2);
    color: var(--clr-dark);
    text-align: center;
}

.prerequisites {
    margin-bottom: 4em;
}
.prerequisite {
    max-width: 500px;
    margin: 0 1em;
}

@media (min-width: 650px) {
    .prerequisites {
        display: flex;
        justify-content: center;
    }
    .prerequisite {
        max-width: 300px;
    }

}

/*  Why FAC */

.about {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.about-img {
    box-shadow: var(--bs);
    max-width: 70%;
    margin: 0 auto 1em auto;
    opacity: 0.9;
}

@media (min-width: 800px) {
    .about-grid {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;
    }
    .about-img {
        max-width: 400px;
    margin: 0 2em;
    }
    .about-text {
        max-width: 500px; 
        text-align: left;
    }
}
/* My Work */

.work {
    background-color: var(--clr-light-2);
    color: var(--clr-dark);
    text-align: center;    
    padding: 0; 

}
.section-title-projects {
    padding: 2em 2em 0 2em;
}

.project-grid {
    display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 300px; 
     margin: 0 auto; 
     position: relative;

}

.carousel-container {
    
    width: 100%; 
    height: 100%;
    position: relative;
    overflow: hidden;

}

.project {
    position: absolute;
top:  0;
right: 0;
bottom: 0;
left: 0; 
margin: 0; 
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*transition: opacity ease-out 250ms; */
}

.project-description {
position: absolute; 
left:0;
right:0;
bottom:0;
top: 0;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--clr-dark);
opacity: 0;
transition: opacity ease-out 250ms;
pointer-events: none;
background: #ffffffdd;

}

.project:hover .project-description {
    opacity: 1;
}

@media (min-width: 700px) {
    .project-grid {
        width: 80%;
        height: 400px; 
    } 
    .carousel-container {
    width: 80%; 
    }
    .work {
    padding: 2em; 
    }

    .section-title-projects {
        padding-top: 0;
    }

}

/* footer */

.footer {
    text-align: center;
    padding: 2.5em 0;
font-size: var(--fs-sub);
background-color: var(--clr-dark);
color: var(--clr-light);
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.social-list {
    list-style:none;
    display:flex;
    justify-content: center;
    padding: 0;

}
.social-list-item {
    margin: 0 0.5em;
}
