#welcome {
  height: 100vh;

}

@media (max-width:815px) {
  #welcome: height 500vh;
}

#navbar {
  position: fixed;
  right: 0px;
  top: 0px;
    float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 40px;
     font-size: 14px;
     color: #656565;
     text-decoration:none;

}

#navbar a {
color: #656565;
text-decoration:none;
padding: 20px;
}

#navbar a:hover {
color: #353535;
text-decoration:none;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contacts {
    justify-content: center;
    align-items: center;
    text-align: center;

}

#contacts a {
color: #656565;
text-decoration:none;
}

#contacts a:hover {
color: #353535;
text-decoration:none;
}


.main-image {
    width: 500px;
}

.projects-grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-items: center;
     justify-items: center;
}

.project-image {
    width: 400px;
    height: auto;
}

.profile-link {
    padding: 30px;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 14px; 
  line-height: 20px;
  color: #656565;
}

h1 {
  font-family: 'Cutive Mono', monospace;
  font-size: 30px;
  color: #353535;

  a:link {
      text-decoration: none;
      color: #353535;
  }

a:visited {
    text-decoration: none;
    color: #353535;
}
